In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("r-joined.csv")

In [3]:
df.shape

(8098, 3178)

In [4]:
df.head()

,Unnamed: 0,CASEID,V2,V3,V4,V5,V6,V7,V8,V9,...,OLDP2FWT,P2WTV2,PVT,PVTRT,P2WTV3.y,EMP,EMPST,EMPW,EMPH,EMPOTH
0,1,10001,60080192,1,8128,9,28,90,9,28,...,NaN,NaN,1,0.6016,NaN,2,0,1,0,0
1,2,10002,16030048,1,3941,10,1,90,10,1,...,NaN,NaN,0,2.1321,NaN,2,0,1,0,0
2,3,10003,74070592,1,7813,10,5,90,10,5,...,NaN,NaN,0,1.3077,NaN,2,0,1,0,0
3,4,10004,74030720,1,7813,10,10,90,10,10,...,NaN,NaN,1,0.7391,NaN,3,0,0,1,0
4,5,10005,4180080,1,9018,10,10,90,10,10,...,NaN,NaN,0,1.2613,NaN,2,0,1,0,0

In [5]:
import numpy as np

In [10]:
df.drop(columns=[df.columns.tolist()[0]], inplace=True)

In [11]:
df.shape

(8098, 3177)

In [23]:
def check_n_vars (a_df, n):
    """Pick n of the variables in the data frame and summarize values"""
    cols = a_df.columns.tolist()
    selection = np.random.randint(0, a_df.shape[1], n)
    for idx in selection:
        col = cols[idx]
        print(col)
        print(a_df[col].value_counts())
        print(f"Count of pandas missing values: {sum(a_df[col].isna())}")

In [25]:
check_n_vars(df, 100)

V4225
0    5955
9    2142
1       1
Name: V4225, dtype: int64
Count of pandas missing values: 0
V3135
0     8088
19       3
16       2
22       1
18       1
14       1
37       1
12       1
Name: V3135, dtype: int64
Count of pandas missing values: 0
V7223
0    5907
9    2144
2      39
1       8
Name: V7223, dtype: int64
Count of pandas missing values: 0
V3933
0    8094
9       4
Name: V3933, dtype: int64
Count of pandas missing values: 0
V3745
0     8028
25       8
20       7
30       6
21       4
33       4
27       4
17       3
24       3
36       3
41       3
40       3
19       2
16       2
28       2
13       2
31       2
29       2
22       2
26       2
42       1
39       1
23       1
35       1
38       1
51       1
Name: V3745, dtype: int64
Count of pandas missing values: 0
V2331
0     8061
15       6
21       5
17       5
28       3
25       3
18       2
22       2
26       2
24       2
29       1
27       1
32       1
19       1
20       1
16       1
39       1
Name: V2331, dtype: int64
Count of pandas missing values: 0
V4127
0    5652
9    2151
5     247
1      43
8       5
Name: V4127, dtype: int64
Count of pandas missing values: 0
V7226
0    5936
9    2143
2      17
1       2
Name: V7226, dtype: int64
Count of pandas missing values: 0
V4421
3    2436
4    2204
9    2189
2    1000
1     216
0      53
Name: V4421, dtype: int64
Count of pandas missing values: 0
V4017
0    7997
2      80
1      21
Name: V4017, dtype: int64
Count of pandas missing values: 0
V1405
0    7650
1     423
9      25
Name: V1405, dtype: int64
Count of pandas missing values: 0
V3912
0    8058
1      35
9       5
Name: V3912, dtype: int64
Count of pandas missing values: 0
ROTHR
0    7828
1     270
Name: ROTHR, dtype: int64
Count of pandas missing values: 0
V4404
1    3512
9    2199
2    1994
3     287
4      53
0      53
Name: V4404, dtype: int64
Count of pandas missing values: 0
V5030
0    4694
9    2144
1     637
2     623
Name: V5030, dtype: int64
Count of pandas missing values: 0
V1335
0    8076
1      20
9       2
Name: V1335, dtype: int64
Count of pandas missing values: 0
V7139
0     2826
99    2178
1      144
20     129
30     110
25     103
3       97
15      92
24      88
5       86
22      83
10      79
17      71
19      71
23      71
18      69
2       68
33      67
16      67
11      66
21      64
28      64
13      63
97      62
12      61
6       60
7       59
8       58
4       58
32      57
27      57
26      57
29      55
40      53
35      53
36      52
31      52
14      52
38      48
9       47
37      45
39      40
34      35
45      30
41      29
42      28
43      27
44      26
46      21
53      20
48      18
52      17
47      17
49      16
54      13
50      10
51       9
Name: V7139, dtype: int64
Count of pandas missing values: 0
V4223
0    5956
9    2142
Name: V4223, dtype: int64
Count of pandas missing values: 0
V1547
0    7876
1     131
2      55
3      34
4       2
Name: V1547, dtype: int64
Count of pandas missing values: 0
PTSDYR
0    7785
1     313
Name: PTSDYR, dtype: int64
Count of pandas missing values: 0
V727
0    7896
1     125
5      72
9       5
Name: V727, dtype: int64
Count of pandas missing values: 0
V2019
0     8019
19      11
16       8
22       6
25       6
18       6
17       5
15       4
20       4
13       3
14       3
21       3
26       3
30       2
28       1
32       1
36       1
24       1
12       1
43       1
29       1
33       1
35       1
34       1
42       1
11       1
23       1
27       1
37       1
Name: V2019, dtype: int64
Count of pandas missing values: 0
V2239
0    7935
4     137
2      13
3       9
1       4
Name: V2239, dtype: int64
Count of pandas missing values: 0
V2612
0    8082
4      11
2       2
1       2
3       1
Name: V2612, dtype: int64
Count of pandas missing values: 0
V2015
0     7905
16      29
18      29
15      19
17      18
19      16
14      14
21      10
20      10
13       8
23       7
25       6
27       5
12       4
24       3
26       3
31       2
28       2
22       2
35       1
32       1
36       1
30       1
7        1
37       1
Name: V2015, dtype: int64
Count of pandas missing values: 0
V6910
0     4691
99    2148
2      409
1      400
11     124
95      74
14      72
13      41
21      40
12      40
3       38
4       17
97       4
Name: V6910, dtype: int64
Count of pandas missing values: 0
V6634
0    4390
9    2150
5    1076
1     381
8     101
Name: V6634, dtype: int64
Count of pandas missing values: 0
V5025
0     2583
99    2144
1      258
3      154
10     149
9      149
7      143
2      142
4      137
12     135
6      133
5      131
8      125
11     123
13     113
14     112
18      88
20      86
16      82
24      79
21      75
19      75
15      74
25      73
17      73
22      72
28      69
23      68
26      66
30      63
27      60
31      49
33      48
29      44
32      41
35      30
34      22
36      12
37       6
38       5
40       3
39       3
44       1
Name: V5025, dtype: int64
Count of pandas missing values: 0
V1104
0     6403
10     359
15     255
20     207
30     118
25      83
12      77
5       66
40      57
99      55
8       43
50      30
7       29
6       27
35      27
18      26
13      23
11      18
4       17
14      15
9       11
32      10
45      10
60       9
98       9
22       8
28       7
80       6
95       6
16       6
      ...
17       6
23       6
27       5
36       4
24       4
55       4
75       4
3        4
2        4
19       4
26       3
43       3
48       2
54       2
21       2
70       2
38       2
42       2
90       1
47       1
62       1
58       1
33       1
39       1
29       1
68       1
67       1
85       1
57       1
37       1
Name: V1104, Length: 61, dtype: int64
Count of pandas missing values: 0
V3728
0    8002
4      79
1       9
2       4
3       2
9       2
Name: V3728, dtype: int64
Count of pandas missing values: 0
V329
0     7895
20      12
30      12
24      11
21       9
17       9
26       8
18       8
28       7
31       7
14       7
25       6
33       6
32       6
27       6
38       6
19       6
23       5
42       5
35       5
40       5
43       5
34       5
13       4
45       4
36       4
15       4
16       3
41       3
29       3
37       3
22       3
39       3
9        2
44       2
50       2
11       2
48       1
47       1
12       1
8        1
99       1
Name: V329, dtype: int64
Count of pandas missing values: 0
V5516
0    5815
9    2143
4      92
2      21
3      14
1      13
Name: V5516, dtype: int64
Count of pandas missing values: 0
V1106
0    3511
5    3184
1    1395
9       7
8       1
Name: V1106, dtype: int64
Count of pandas missing values: 0
P2TOBWT
0.3332    450
8.6027    262
3.2985    207
0.3357    129
3.3229    121
0.7464     18
0.7796     17
1.0372     15
1.2677     13
0.9508     13
0.7849     11
1.1693     10
0.6915     10
1.1097     10
1.1195     10
1.5450      8
0.4389      8
1.4261      8
0.8361      8
0.7870      7
0.9468      7
1.9015      7
0.6670      7
0.7874      7
2.5352      7
1.2030      7
0.5886      7
1.3145      7
0.7535      6
0.5847      6
         ...
1.2642      1
6.5720      1
0.5717      1
2.0258      1
0.5544      1
0.9720      1
0.5360      1
5.2824      1
2.8844      1
1.0878      1
1.8988      1
3.1004      1
0.8656      1
1.9004      1
2.2515      1
1.2479      1
2.6435      1
1.8066      1
3.8008      1
0.5521      1
2.0842      1
0.4149      1
2.7240      1
2.5031      1
0.5220      1
0.9088      1
3.6626      1
0.8999      1
1.3684      1
2.0625      1
Name: P2TOBWT, Length: 3293, dtype: int64
Count of pandas missing values: 2221
V5212
0    5880
9    2142
1      76
Name: V5212, dtype: int64
Count of pandas missing values: 0
V2831
0     8041
17       7
18       6
19       4
16       4
26       4
27       3
22       3
20       3
24       3
21       3
23       2
34       2
30       2
29       2
28       2
36       1
47       1
25       1
37       1
31       1
15       1
14       1
Name: V2831, dtype: int64
Count of pandas missing values: 0
V4627
0    4513
9    2154
4     911
3     198
2     163
1     159
Name: V4627, dtype: int64
Count of pandas missing values: 0
V1612
0    5906
5    1597
1     580
9      13
8       2
Name: V1612, dtype: int64
Count of pandas missing values: 0
V5043
0     5883
99    2145
26       6
18       6
23       5
9        4
8        4
25       4
21       3
28       3
16       3
27       2
13       2
17       2
24       2
10       2
22       2
30       2
7        2
15       2
1        2
20       1
12       1
4        1
29       1
32       1
19       1
2        1
6        1
14       1
3        1
11       1
37       1
Name: V5043, dtype: int64
Count of pandas missing values: 0
V1146
0    3645
8     775
7     675
6     597
5     568
4     516
2     480
3     459
1     383
Name: V1146, dtype: int64
Count of pandas missing values: 0
V4408
4    2364
9    2207
3    1598
2    1216
1     660
0      53
Name: V4408, dtype: int64
Count of pandas missing values: 0
V1441
0    5205
1    2509
2     384
Name: V1441, dtype: int64
Count of pandas missing values: 0
V2632
0    8067
4      24
1       4
3       2
2       1
Name: V2632, dtype: int64
Count of pandas missing values: 0
EMPH
0    7379
1     719
Name: EMPH, dtype: int64
Count of pandas missing values: 0
V2715
0     7985
20      12
16      11
15      11
18      11
17      11
22       7
21       7
19       6
26       6
28       4
23       4
25       4
27       3
14       3
24       3
29       2
13       2
31       2
36       1
35       1
12       1
99       1
Name: V2715, dtype: int64
Count of pandas missing values: 0
V5927
0    5657
9    2148
1     144
2      98
3      28
4      23
Name: V5927, dtype: int64
Count of pandas missing values: 0
V2817
0     8054
25       6
19       4
24       4
20       3
30       3
22       3
28       3
40       2
29       2
31       2
33       2
41       2
18       2
27       2
21       1
36       1
32       1
39       1
Name: V2817, dtype: int64
Count of pandas missing values: 0
V3030
0    8019
1      79
Name: V3030, dtype: int64
Count of pandas missing values: 0
V6805
0    5927
9    2142
1      29
Name: V6805, dtype: int64
Count of pandas missing values: 0
V6402
0     4960
99    2145
6      104
4       91
8       90
12      87
1       85
7       83
2       82
10      80
5       78
11      71
9       68
3       66
98       8
Name: V6402, dtype: int64
Count of pandas missing values: 0
V2025
0     8076
13       4
18       3
17       3
15       2
33       2
16       2
35       1
27       1
42       1
28       1
24       1
20       1
Name: V2025, dtype: int64
Count of pandas missing values: 0
V4328
0    5926
9    2142
1      14
5      10
3       6
Name: V4328, dtype: int64
Count of pandas missing values: 0
V6928
0    5857
9    2168
1      73
Name: V6928, dtype: int64
Count of pandas missing values: 0
V5507
0     5295
99    2143
27      38
22      34
25      34
30      32
28      31
35      26
26      25
24      25
21      24
38      23
17      23
20      23
32      21
18      20
33      20
42      19
23      19
19      18
34      17
40      16
37      16
36      14
31      14
16      13
39      13
29      12
15      12
14      11
45       9
46       8
43       7
48       5
44       5
12       4
13       4
50       4
41       4
47       4
8        2
49       2
5        2
98       2
52       1
6        1
7        1
11       1
53       1
Name: V5507, dtype: int64
Count of pandas missing values: 0
V5321
0     5941
99    2142
90      11
91       4
Name: V5321, dtype: int64
Count of pandas missing values: 0
V924
0    8079
1      16
9       3
Name: V924, dtype: int64
Count of pandas missing values: 0
V6535
5    5067
9    2165
1     784
0      82
Name: V6535, dtype: int64
Count of pandas missing values: 0
V3307
0     8063
17       5
15       4
18       3
16       3
20       3
14       3
19       3
25       2
23       2
26       1
43       1
33       1
29       1
24       1
27       1
47       1
Name: V3307, dtype: int64
Count of pandas missing values: 0
V3712
0    8078
4      16
1       2
3       1
9       1
Name: V3712, dtype: int64
Count of pandas missing values: 0
V4606
0    3052
9    2143
4    1743
3     770
2     296
1      94
Name: V4606, dtype: int64
Count of pandas missing values: 0
V6138
5    5250
9    2146
1     622
0      80
Name: V6138, dtype: int64
Count of pandas missing values: 0
V6641
0    5693
9    2142
1     163
5      93
8       7
Name: V6641, dtype: int64
Count of pandas missing values: 0
V1350
0     8052
20       4
36       4
23       3
40       3
45       2
44       2
48       2
17       2
43       2
47       2
34       2
38       2
15       2
19       2
27       2
14       1
37       1
26       1
25       1
30       1
32       1
28       1
24       1
16       1
29       1
Name: V1350, dtype: int64
Count of pandas missing values: 0
V2337
0     8087
17       4
16       3
26       1
18       1
25       1
20       1
Name: V2337, dtype: int64
Count of pandas missing values: 0
V305
5    6894
1    1202
9       2
Name: V305, dtype: int64
Count of pandas missing values: 0
DYSONSA
18.0    25
28.0    24
15.0    24
13.0    23
35.0    22
16.0    22
24.0    22
19.0    21
30.0    20
17.0    20
25.0    19
23.0    19
22.0    19
29.0    19
21.0    18
20.0    18
39.0    17
36.0    16
26.0    15
12.0    15
34.0    15
27.0    13
32.0    11
33.0    10
40.0    10
37.0     9
10.0     8
14.0     8
46.0     8
38.0     7
42.0     7
44.0     7
9.0      7
11.0     6
31.0     6
45.0     6
41.0     6
8.0      5
7.0      5
48.0     5
43.0     5
6.0      3
4.0      3
47.0     2
50.0     2
49.0     2
3.0      1
Name: DYSONSA, dtype: int64
Count of pandas missing values: 7523
V815
0    6932
5     816
1     347
9       3
Name: V815, dtype: int64
Count of pandas missing values: 0
V3609
0     8077
22       3
33       3
18       2
17       2
24       2
27       1
23       1
15       1
42       1
41       1
29       1
13       1
20       1
16       1
Name: V3609, dtype: int64
Count of pandas missing values: 0
V717
0    7860
5     207
1      26
9       4
8       1
Name: V717, dtype: int64
Count of pandas missing values: 0
DRGDYR2
0    7961
1     137
Name: DRGDYR2, dtype: int64
Count of pandas missing values: 0
V6212
0     5921
99    2142
6        8
3        6
9        6
8        5
7        2
2        2
5        2
1        2
11       1
10       1
Name: V6212, dtype: int64
Count of pandas missing values: 0
V4126
0    5748
9    2146
5     181
1      23
Name: V4126, dtype: int64
Count of pandas missing values: 0
V7009
9    2153
2    1976
1    1555
3    1422
4     868
0     124
Name: V7009, dtype: int64
Count of pandas missing values: 0
V7023
2    3597
9    2149
1    1287
3     782
4     198
0      83
8       2
Name: V7023, dtype: int64
Count of pandas missing values: 0
V6019
1     2413
99    2268
3      727
4      706
5      589
2      584
6      461
7      163
98     107
0       80
Name: V6019, dtype: int64
Count of pandas missing values: 0
V3405
0     7979
25      12
18      10
26       9
21       9
20       8
23       8
28       6
35       6
27       5
24       5
29       5
30       5
38       4
22       4
31       3
19       3
34       2
37       2
15       2
17       2
36       1
32       1
98       1
40       1
13       1
41       1
49       1
42       1
45       1
Name: V3405, dtype: int64
Count of pandas missing values: 0
V6802
0    4173
9    2142
5    1736
1      47
Name: V6802, dtype: int64
Count of pandas missing values: 0
V7252
5    5859
9    2179
1      60
Name: V7252, dtype: int64
Count of pandas missing values: 0
V3110
0    8070
1      28
Name: V3110, dtype: int64
Count of pandas missing values: 0
V4620
0    3052
4    2724
9    2136
3     127
2      50
1       9
Name: V4620, dtype: int64
Count of pandas missing values: 0
V1803
0     2801
5     1158
12     816
1      565
3      505
2      473
4      327
99     292
6      281
20     279
8      158
10     111
7       96
15      58
24      36
9       29
18      21
25      15
14      15
13      11
16       8
30       7
40       5
11       5
98       4
50       3
44       3
17       3
22       2
32       2
23       1
43       1
95       1
28       1
60       1
84       1
35       1
27       1
19       1
Name: V1803, dtype: int64
Count of pandas missing values: 0
V6513
0    5884
9    2143
5      42
1      29
Name: V6513, dtype: int64
Count of pandas missing values: 0
V1112
0    3511
5    3197
1    1383
9       6
8       1
Name: V1112, dtype: int64
Count of pandas missing values: 0
V5807
0    5451
9    2156
5     319
1     172
Name: V5807, dtype: int64
Count of pandas missing values: 0
V3517
0     8001
22      10
23       8
25       7
20       7
16       7
28       6
17       6
18       6
26       5
21       5
27       5
24       5
33       3
30       3
19       3
32       3
39       2
13       2
35       2
41       1
29       1
Name: V3517, dtype: int64
Count of pandas missing values: 0
V4220
0    5955
9    2142
1       1
Name: V4220, dtype: int64
Count of pandas missing values: 0
NAP6M
0    8068
1      30
Name: NAP6M, dtype: int64
Count of pandas missing values: 0
V7023
2    3597
9    2149
1    1287
3     782
4     198
0      83
8       2
Name: V7023, dtype: int64
Count of pandas missing values: 0
V6101
5    5705
9    2145
1     168
6      80
Name: V6101, dtype: int64
Count of pandas missing values: 0
V422
0    6818
1     874
5     406
Name: V422, dtype: int64
Count of pandas missing values: 0
V2928
0    7955
4      95
1      18
2      16
3      11
9       2
8       1
Name: V2928, dtype: int64
Count of pandas missing values: 0
V1011
0     7891
2       74
1       60
3       31
99      10
4        9
7        6
6        5
98       4
5        4
10       2
18       1
32       1
Name: V1011, dtype: int64
Count of pandas missing values: 0
V1929
0    8093
8       3
3       1
2       1
Name: V1929, dtype: int64
Count of pandas missing values: 0
V803
0    6901
5     738
1     458
8       1
Name: V803, dtype: int64
Count of pandas missing values: 0
V524
0    3886
2    2657
1    1555
Name: V524, dtype: int64
Count of pandas missing values: 0
V3932
0    8037
1      57
9       4
Name: V3932, dtype: int64
Count of pandas missing values: 0
V2333
0     8066
17       5
28       3
32       3
21       3
25       2
20       2
29       2
23       2
18       1
31       1
30       1
34       1
15       1
19       1
24       1
27       1
16       1
39       1
Name: V2333, dtype: int64
Count of pandas missing values: 0
V6009
0     4681
99    2144
1      148
8      118
6      115
3      113
2      108
4      107
11     102
10     102
5       98
12      98
7       79
9       79
98       6
Name: V6009, dtype: int64
Count of pandas missing values: 0
V3723
0     8091
15       1
18       1
14       1
25       1
13       1
16       1
12       1
Name: V3723, dtype: int64
Count of pandas missing values: 0
V7215
0     5082
99    2143
1      108
9       51
6       50
2       43
3       42
5       40
4       39
8       38
7       37
10      36
11      34
13      34
16      31
12      25
15      22
14      20
17      17
20      13
18      12
19      12
24      10
23      10
21      10
26      10
34       9
22       8
43       6
40       6
      ...
56       3
39       3
27       3
45       3
33       3
41       3
48       3
36       3
50       3
46       3
55       3
28       2
69       2
71       2
76       2
29       2
63       2
30       1
59       1
62       1
58       1
54       1
72       1
79       1
68       1
65       1
61       1
49       1
52       1
75       1
Name: V7215, Length: 69, dtype: int64
Count of pandas missing values: 0

In [31]:
def check_vars (a_df, cols):
    """Pick n of the variables in the data frame and summarize values"""
    #cols = a_df.columns.tolist()
    #selection = np.random.randint(0, a_df.shape[1], n)
    #for idx in selection:
    #col = cols[idx]
    for col in cols:
        print(col)
        print(a_df[col].value_counts())
        print(f"Count of pandas missing values: {sum(a_df[col].isna())}")

In [32]:
check_vars(df, ['V1144'])

V1144
5    4201
0    3511
1     379
9       7
Name: V1144, dtype: int64
Count of pandas missing values: 0

In [ ]:
check